body {
  font-family: Arial;
  color: #7EB7EF;
  padding: 20px;
  background-color: #322F2F;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 80px;
    margin-right: 150px;
}

.column {
  float: left;
  padding: 10px;
  height: 400px;
}

.left {
  width: 74%;
}

.right {
  width: 24%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #202020;
}

li a {
  display: block;
  color: #7EB7EF;
  padding: 8px 16px;
  text-decoration:none;
}

li a:hover {
  background-color: #202020;
  color: #7EB7EF;
}
