body {
  font-family: Arial;
  color: #7EB7EF;
  padding: 20px;
  background-color: #322F2F;
}

header {
  padding: 30px;
  font-size: 70px;
  text-align: center;
  background-image: url("http://www.pngmart.com/files/7/Abstract-Wave-Transparent-Background.png") no-repeat;
  background-size: cover;
}

ul li{
  list-style-type: none;
  margin: 10px;
  padding: 20;
  text-align: center;
}

li {
  display: inline;
}

button1 {
  background-color: #0f0f0f;
  padding: 12px 28px;
  color: #010101;
  width: 250px;
  float: center;
  font-family: arial;
}

button2 {
  background-color: #0f0f0f;
  padding: 12px 28px;
  color: #010101;
  width: 250px;
  float:center;
  font-family: arial;
}

button3 {
  background-color: #001f33;
  padding:12px 28px;
  color: #010101;
  width: 250px;
  float:center;
  font-family: arial;
  opacity: 0.6%;
  transition: 0.3s;
  cursor: pointer;
}

button4 {
  background-color: #001f33;
  padding: 12px 28px;
  color: #010101;
  width: 250px;
  float: center;
  font-family: arial;
  
  
a {
  text-decoration: none;
  color: white;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #292928;
  margin-top: 30px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
