
body {
  font-family: Arial;
  color: #7EB7EF;
  padding: 20px;
  background-color: #322F2F;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 80px;
    margin-right: 150px;
}

header {
  padding: 30px;
  font-size: 70px;
  text-align: center;
  background-image: url("http://www.pngmart.com/files/7/Abstract-Wave-Transparent-Background.png") no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #202020;
  float: right;
}

li a {
  display: block;
  color: #7EB7EF;
  padding: 8px 16px;
  text-decoration:none;
}

li a:hover {
  background-color: #202020;
  color: #7EB7EF;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 1000px;
  padding: 225px 300px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #292928;
  margin-top: 30px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
