body {
  font-family: Helvetica;
  color: #7EB7EF;
  padding: 20px;
  background-color: #322F2F;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: darkgrey;
}

/* Create two unequal columns that floats next to each other */

leftbox {
  float: left;
  width: 75%;
}

rightbox {
  float: right;
  width: 25%;
  padding: 20px;
}

.fakeimg-1 {
  background-image: url("https://i.kym-cdn.com/photos/images/original/001/220/670/2b5.jpg");
  height: 200px;
  width: 800px;
  padding: 20px;
}

.fakeimg-2 {
  background-image: url("https://i.kym-cdn.com/photos/images/original/001/220/670/2b5.jpg");
  height: 200px;
  width: 800px;
  padding: 20px;
}

.fakimg-3 {
  background-image: url("https://i.kym-cdn.com/photos/images/original/001/220/670/2b5.jpg");
  height:200px;
  width: 800px;
    padding: 20px;
}

.card {
  background-color: darkgrey;
  padding: 20px;
  margin-top: 20px;
}
i
.row:after {
  content: "";
  display: table;
  clear: both;

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
